<div class="col-md-4">
  <h3>Users you're following</h3>

  <% if current_user.followers.count == 0 %>
    <p>You don't seem to be following anyone right now. <%= link_to 'Find someone to follow and start customizing your notes feed!', listusers_path %></p>
  <% else %>
    <table class="table table-striped table-bordered">
      <tbody>
        <% @followees.each do |followee| %>
          <tr>
            <td><%= button_to 'Unfollow', following_path(followee), method: :delete, class: "btn btn-default" %></td>
            <td><%= followee.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>


<div class="col-md-8">
  <h3>Your Notes Feed </h3>

  <%= button_to 'Create note', new_note_path, method: :get, class: "btn btn-default" %>

  <% if @notes.empty? %>
  <p>There doesn't seem to be anything here.. <%= link_to 'Create a note', new_note_path %> or  <%= link_to 'follow someone', listusers_path %> to customize your notes feed!</p>
  <% else %>
  <table class="table table-striped table-bordered">
      <thead>
        <th>Likes</th>
        <th></th>
        <th>Note</th>
        <th>User</th>
        <th></th>
        <th></th>
      </thead>
        <tbody>
          <% @notes.order('created_at DESC').each do |note| %>
            <tr>
              <th><%= note.likes.count %></th>
              <% if note.user != current_user %>
                <% if current_user.likes?(note) %>
                  <th><%= button_to 'Unlike', like_path(note), method: :delete, class: "btn btn-default" %></th>
                <% else %>
                  <th><%= button_to 'Like', likes_path(note), method: :post, class: "btn btn-default" %></th>
                <% end %>
              <% else %>
                <th></th>
              <% end %>
              <td><%= note.body %></td>
              <td><%= note.user.email %></td>
              <% if note.user == current_user %>
                <td><%= button_to 'Edit', edit_note_path(note), method: :get, class: "btn btn-default" %></td>
                <td><%= button_to 'Delete', note_path(note), method: :destroy, class: "btn btn-default" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>

</div>
